.container h1 {
	font: 900 2.10333rem/2 UfcSansCondensedMedium, 'Arial Narrow', Arial,
		sans-serif;
	color: #000;
	margin: 0 0 70px 0;
	padding-top: 70px;
	text-align: center;
	line-height: 3.33333rem;
}

.container {
	align-items: center;
	justify-content: center;
}

.wrapper {
	max-width: 1050px;
	flex-wrap: wrap;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	// padding: 0 200px;
}

.info a {
	color: #191919;
	width: 1%;
	text-transform: uppercase;
	font: 1000 13px/2 UfcSansCondensedMedium, 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
}

.one_table h4 {
	text-transform: uppercase;
	letter-spacing: 0.2px;
	color: #d20a0a;
	font: 900 10px/2 UfcSansCondensedMedium, 'Arial Narrow', Arial, sans-serif;
	font-stretch: condensed;
}

.one_table h4 > span {
	color: #000;
}

.table__people > a {
	margin-right: 20px;
	text-align: left;
	letter-spacing: 0.2px;
	color: #191919;
	font: bold 14px/1.14 UfcSansCondensedMedium, 'Arial Narrow', Arial, sans-serif;
	font-stretch: condensed;
	font: normal 12px/1.43 UfcSansRegular, Arial, sans-serif;
	font-weight: 700;
}

.table__people {
	padding: 6px 0px;
	display: flex;
	text-transform: capitalize;
	color: #585b63;
	font: normal 12px/1.43 UfcSansRegular, Arial, sans-serif;
}

.info > img {
	position: relative;
	margin: 10px 0px;
	border-bottom: 1px solid #eee;
}
